.App {
  font-family: Apercu, "Source Sans Pro", system, system-ui, -apple-system,
    BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
}

hr {
  margin-top: -15px;
  background-color: #808080;
  width: 325px;
}

.fa-3x {
  font-size: 50px;
  margin-left: 39px;
  margin-top: 25px;
}

.AboutMe {
  margin-top: 550px;
  margin-left: 250px;
}

.AboutMe h2 {
  color: #808080;
  font-size: 30px;
}

.AboutText {
  display: grid;
  grid-template-columns: 1fr 1fr;
  line-height: 30px;
  font-size: 0.9rem;
}

.ExperienceAbout {
  margin-right: 150px;
}

.FunAbout {
  padding-right: 100px;
}

.Education {
  margin-top: 200px;
  margin-left: 250px;
}

.Education h2 {
  color: #808080;
  font-size: 30px;
}

.EducationSchoolName {
  display: inline-block;
  margin-right: 300px;
}

.EducationDate {
  display: inline-block;
  color: #686868;
}

.EducationInformation {
  margin-top: -30px;
}
.EducationMajor {
  color: #686868;
  margin-top: -15px;
  display: inline-block;
}

.EducationGPA {
  color: #686868;
  margin-left: 140px;
  display: inline-block;
}

.EducationMinor {
  color: #686868;
  margin-top: -15px;
}

.Experience {
  margin-top: 100px;
  margin-left: 250px;
}

.Experience h2 {
  color: #808080;
  font-size: 30px;
}

.PersonalProjects {
  margin-top: 100px;
  margin-left: 250px;
}

.ContactButton {
  background-color: #ffffff;
  border: solid #000000;
  color: #000000;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.ContactButton:hover {
  background-color: #000000;
  color: #ffffff;
  transition: 0.7s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
