.App {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Header {
  margin-left: 250px;
  margin-top: 250px;
}
.Header h1 {
  font-size: 50px;
  line-height: 60px;
  -webkit-animation: fadeIn 4s;
}

.Header h2 {
  font-size: 22px;
  color: #808080;
  -webkit-animation: fadeIn 10s;
}

.AboutMe {
  margin-top: 490px;
  margin-left: 250px;
}

.AboutMe h2 {
  color: #808080;
  font-size: 30px;
}

.AboutMe hr {
  margin-top: -15px;
  background-color: #808080;
  width: 180px;
}

.AboutText {
  display: grid;
  grid-template-columns: 1fr 1fr;
  line-height: 30px;
}

.ExperienceAbout {
  margin-right: 150px;
}

.FunAbout {
  padding-right: 100px;
}


.Education {
  margin-top: 400px;
  margin-left: 250px;
  grid-template-columns: 1fr 1fr;
}

.Education h2 {
  color: #808080;
  font-size: 30px;
}

.Education hr {
  margin-top: -15px;
  background-color: #808080;
  width: 180px;
}

.Education p {
  line-height: 5px;
}

.EducationHeader {
  margin-right: 150px;
}

.EducationDate {
  padding-right: 200px;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
