.App {
  font-family: Apercu, "Source Sans Pro", system, system-ui, -apple-system,
    BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  background-color: #f9f9f9;
}

hr {
  margin-top: -15px;
  background-color: #808080;
  width: 325px;
}

.fa-3x {
  font-size: 50px;
  margin-left: 39px;
  margin-top: 25px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
